<?xml version="1.0" encoding="UTF-8" ?><ResourceDetails><ServerName></ServerName><LauncherName></LauncherName><ExternalBrowser></ExternalBrowser><Mappings><Mapping-Name>bin-release</Mapping-Name><Location>I:\dev\sites\pbsmediatech.com\cms\partner\d-pegasus\wp-content\uploads\apps\bb-kun\game-admin\swf\latest</Location><ResolveCFC>true</ResolveCFC></Mappings><VariableMappings></VariableMappings></ResourceDetails>